{% include header.html %}
{% include nav.html navclass='navtop' %}


<div class="portrait">
    <img class="portrait" src="Images/portrait.jpg" alt="portrait">
</div>

    
<div class="bio">
    <p>If you want someone with a different perspective, open mind and who challenges ideas outside the box. That’s me! That is my passion! That is my obsession! As a left-handed female Canadian designer, from Ottawa ON I enjoy exploring and adventuring into the deep realm of creative thinking and conceptual design. Educated at Algonquin College for Graphic Design I am experienced in illustration - interactive design - web design - photography - logo design. 
        
“Creativity can solve almost any problem. The creative act, the defeat of habit by originality, overcomes everything.” -George Lois</p>
</div>
<div/>

{% include footer.html%}