{% include header.html %}


<div itemscope itemtype="https://schema.org/Person"> 

{% include nav.html %}
    
<div class="banner">
    <img itemprop="image" class="banner" src="Images/portrait.jpg" alt="portrait">
</div>

<div class="content">
 <div class="pad-t grid">
    <div class="unit unit-s-1 unit-m-1-2 unit-l-1-1">
      <a href="cheers.html"><img class="picgrid" src="Images/Clients/Cheers/cheers-preview.png" alt="cheers"></a>
    </div>
    <div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
      <a href="spitz.html"><img class="picgrid" src="Images/Clients/Spitz/spitz-preview.jpg" alt="spitz"></a>
    </div>
    <div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
      <a href="poster.html"><img class="picgrid" src="Images/Clients/Poster/poster-preview.jpg" alt="poster"></a>
    </div>
    <div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
     <a href="sp.html"><img class="picgrid" src="Images/Clients/Sp/sp-preview.jpg" alt="sp"></a>
     </div>   
  </div>
</div>
    
</div>

<!--
<ul class="skip-link hide">
 <li><a href='#nav'>Skip to navagation</a></li>
 <li><a href='#main'>Skip to main content</a></li>
</ul> -->

<main role="main">
</main> 
  

{% include footer.html %}


