<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
    <title>CSP Design Graphic Design Porfolio • Design By: Chenise Summer Paquette based in Ottawa</title>
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/type.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="CSP Design: Graphic Design Porfolio">
  <meta property="og:type" content="article">
  <meta property="og:title" content="CSP Design">
  <meta property="og:url" content="https://cspdesign.com">
  <meta property="og:image" content="img/chenwordmark.svg">
  <meta property="og:cspdesign" content="CSP Design Porfolio">
  <meta property="og:description" content="CSP Design: Graphic Design Porfolio">
</head>
<html>
<body>

<header>
  <div class="static-bar grid">
    <div class="unit unit-s-1-2 unit-m-1-2 unit-l-1-2">
      <h1 class="mega"><a href="{{site.baseurl}}/index.html"><img src="Images/Icons/chenwordmark.svg" alt="navwordmark" height="40px"</a></h1>
    </div>
    <div class="navigation unit unit-s-1-2 unit-m-1-2 unit-l-1-2">
      <ul>
        <li><a class="navtype" href="{{site.baseurl}}/about.html">ABOUT</a></li>
      </ul
    </div>
  </div>
</header> 

<main role="main">   

<div itemscope itemtype="https://schema.org/Person"> </div> 
    
{{content}}

<!--
<ul class="skip-link hide">
 <li><a href='#nav'>Skip to navagation</a></li>
 <li><a href='#main'>Skip to main content</a></li>
</ul> 

<main role="main">
</main> -->
  
<footer class='navtype'>
<p><a href="https://www.flickr.com/photos/scotchsofa">Flickr</a></p>
<p><a href="https://www.behance.net/chenisepaquette">Behance</a></p>
<p><a href="https://instagram.com/jumbochen_/">Instagram</a></p>
</footer>


</main>
</body>
</html>



