<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
    <title>CSP Design Graphic Design Porfolio • Design By: Chenise Summer Paquette based in Ottawa</title>
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
    <link href="css/type.css" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://cspdesign.ca/Images/Icons/favicon.ico">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="CSP Design: Graphic Design Porfolio">
  <meta property="og:type" content="article">
  <meta property="og:title" content="CSP Design">
  <meta property="og:url" content="https://cspdesign.com">
  <meta property="og:image" content="img/chenwordmark.svg">
  <meta property="og:cspdesign" content="CSP Design Porfolio">
  <meta property="og:description" content="CSP Design: Graphic Design Porfolio">
</head>
<html>
<body>

<header>
    <a href="{{site.baseurl}}/index.html"><img alt="chenise paquette portfolio logo - graphic design ottawa" src="Images/Icons/chenwordmark.svg" height="40px"/></a>
<nav>
    <a tabindex="2" href="{{site.baseurl}}/about.html">About</a>
</nav>
</header> 
<main>

{{content}}

</main> 
<footer>
<a tabindex="3" href="https://www.flickr.com/photos/scotchsofa">Flickr</a>
<a tabindex="4"href="https://www.behance.net/chenisepaquette">Behance</a>
<a tabindex="5"href="https://instagram.com/jumbochen_/">Instagram</a>
<p>Copyright © CSP Design. All rights reserved 2015.</p>
</footer>


</body>
</html>