---
layout: default
---
    
<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
    <title>CSP Design Graphic Design Porfolio • Design By: Chenise Summer Paquette in Ottawa</title>
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/type.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="CSP Design: Graphic Design Porfolio">
  <meta property="og:type" content="article">
  <meta property="og:title" content="CSP Design">
  <meta property="og:url" content="https://cspdesign.com">
  <meta property="og:image" content="img/chenwordmark.svg">
  <meta property="og:cspdesign" content="CSP Design Porfolio">
  <meta property="og:description" content="CSP Design: Graphic Design Porfolio">
</head>
<html>
<body>

<ul class="skip-link">
 <li><a href='#nav'>Skip to navagation</a></li>
 <li><a href='#main'>Skip to main content</a></li>
</ul>

<main role="main">
{{content}}
</main>

<div itemscope itemtype="https://schema.org/Person">
   
<header role="banner" id="nav">
  <div class="static-bar grid">
    <div class="unit unit-s-1-2 unit-m-1-2 unit-l-1-2">
      <h1 class="mega"><a class="navtype" itemprop="url" href="{{site.baseurl}}/index.html" rel="me"><img itemprop="image" class="navwordmark" src="img/chenwordmark.svg" alt="navwordmark"></a></h1>
    </div>
    <div class="navigation unit unit-s-1-2 unit-m-1-2 unit-l-1-2">
      <ul>
        <li><a class="navtype" itemprop="url" href="{{site.baseurl}}/about.html">ABOUT</a></li>
      </ul
    </div>
  </div>
  {% include nav.html navclass='navtop' %}
</header>  
  
<footer role="contentinfo">
<div class="links pad-t">
  <ul>
    <li><a itemprop="url" class="links" href="https://www.flickr.com/photos/scotchsofa" rel="external">FLICKR  </a></li>
    <li><a itemprop="url" class="links" href="https://www.behance.net/chenisepaquette" rel="external">BEHANCE</a></li>
    <li><a itemprop="url" class="links" href="https://instagram.com/jumbochen_" rel="external">INSTAGRAM</a></li>
  </ul>
</div>
{% include nav.html navclass='navbottom' %}
</footer> 
      
</div>

</body>
</html>